<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BettaCTIWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\betta\nice\log\BettaCTIWeb_NiceDEV.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="30000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level – %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppenderAESMsg" type="log4net.Appender.RollingFileAppender">
      <file value="c:\betta\nice\log\BettaMsgDEV.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="30000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level – %message%newline" />
      </layout>
    </appender>
    <!-- <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>-->
    <logger name="BettaCTIWeb">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="BettaMsg">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppenderAESMsg" />
    </logger>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="BettaCTIWeb.WebSocketService">
        <endpoint address="" binding="customBinding" bindingConfiguration="webSocket" contract="BettaCTIWeb.IWebSocketService" />
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="webSocket" receiveTimeout="06:00:00">
          <byteStreamMessageEncoding />
          <httpsTransport>
            <webSocketSettings transportUsage="Always" createNotificationOnConnection="true" />
          </httpsTransport>
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
  </system.webServer>

  <applicationSettings>
    <BettaCTIWeb.Properties.Settings>
      <setting name="VDN_PISC" serializeAs="String">
        <value></value>
      </setting>
      <setting name="AESXML" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CallbackActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PREFIXO" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="HOSTDB" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="USERDB" serializeAs="String">
        <value>postgres</value>
      </setting>
      <setting name="PWDB" serializeAs="String">
        <value>Ur6pZuJwz5C5oSc8ang/PA==</value>
      </setting>
      <setting name="DB" serializeAs="String">
        <value>postgres</value>
      </setting>
      <setting name="AutoAnswer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CallbackShortcall" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AfterCallWork" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ProductKey" serializeAs="String">
        <value>MCSIp4QXYaMQ8p0aK58XjCef+IkIauOVjKrfqBkpWZefZpN9yTokO0uc9xjob0MraYLDFt4JdFy/02wzhv9hMwUDy42btDrbyv9LKKIRRwA=</value>
      </setting>
      <setting name="ProxyIP" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value></value>
      </setting>
      <setting name="OnResetApplicationSession" serializeAs="String">
        <value>True</value>
      </setting>	
      <setting name="URL1Token" serializeAs="String">
        <value>https://na1.nice-incontact.com/authentication/v1/token/access-key</value>
      </setting>
      <setting name="accessKeyId" serializeAs="String">
        <value>74F33VEPWVSD4BMJT6JPALGWDZUFCDHBYJS6WEQYF6VXH3VSIO3A====</value>
      </setting>
      <setting name="accessKeySecret" serializeAs="String">
        <value>SCBUUFXGXEZGCW3I25YCDY4KFODTVLBJEY7HUHDYQARBPZNFB4VQ====</value>
      </setting>
      <setting name="URLNiceAPI" serializeAs="String">
        <value>/inContactAPI/services/v27.0</value>
      </setting>
      <setting name="TransferInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimeZoneAjust" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Authorization" serializeAs="String">
        <value>ZTQyMGM1NjgtNDZkZi00ODE2LTlkMGEtNDMwNGIzNDkxZmJkOkdlY0kwUlFQekdDUDNac1RKRk83UlE9PQ==</value>
      </setting>
      <setting name="URLConfig" serializeAs="String">
        <value>https://cxone.niceincontact.com</value>
      </setting>
    </BettaCTIWeb.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
